<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Live input record and playback</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
{% block content %}{% endblock %}
</div>

<script src="js/recorder.js"></script>
<script src="js/cloud.speech.js"></script>
</body>
</html>